# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Zombie-Paradise.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Dev\Unity\Zombie-Paradise\.idea\.idea.Zombie-Paradise\.idea/dataSources/
/dataSources.local.xml
